@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

:root {
  --fg: #000000;
  --bg: #dbe1e8;
  --grey: #292929;
  --grey2: #4d4d4d;
  --grey3: #b2becd;
  --grey4: #a7a7a7;
  --grey5: #c6c6c6;
  --link: #0000EE;
}

:root[class="dark"] {
  --fg: #FFFFFF;
  --bg: #141720;
  --grey: #9c9c9c;
  --grey2: #b2becd;
  --grey3: #212531;
  --grey4: #696969;
  --grey5: #383838;
  --link: #3496ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-icon {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

@keyframes jump {
  0% {
    transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1.4, 0.55, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  60% {
    transform: scale3d(1.25, 0.85, 1);
  }

  80% {
    transform: scale3d(0.9, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.jump {
  animation: jump 1s ease forwards;
}

html {
  scroll-behavior: smooth;
  /* Enables smooth scrolling for hash links */
}